.carousel {
  width: 100%;
  height: 750px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.carousel-track img {
  width: 50px;
  height: 100px;
  flex-shrink: 0;
}
