.containerz {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  /* padding: 20px; */
  gap: 20px; /* space between left and right */
  background-color: black;
}

/* Left side: image */
.leftside img {
  width: 100%;
  max-width: 500px; /* optional */
  height: auto;
  /* display: block; */
}

/* Right side: content */
.rightside {
  flex: 1; /* take remaining space */
}

/* Responsive: stack on mobile */
@media (max-width: 768px) {
  .containerz {
    flex-direction: column;
    text-align: center;
  }
  .leftside img {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
